@model IEnumerable<dynamic>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Lista de Sucursales en @ViewBag.NombreLocalidad</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Calle</th>
                                <th>Número</th>
                                <th>Kilos Vendidos</th>
                                <th>Estado</th>
                                <th>Top 5 Gustos Más Vendidos</th>
                                <th>Lista de Gustos</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var sucursal in Model)
                            {
                                <tr>
                                    <td>@sucursal.Sucursal.IdSucursal</td>
                                    <td>@sucursal.Sucursal.CalleSucursal</td>
                                    <td>@sucursal.Sucursal.NroSucursal</td>
                                    <td>@sucursal.KilosVendidos</td>
                                    <td>@sucursal.EstadoObjetivo</td>
                                    <td>

                                            <ol>
                                                @foreach (var gusto in sucursal.GustosMasVendidos)
                                                {
                                                    <li>@gusto.Gusto</li>
                                                }
                                            </ol>

                                    </td>
                                    <td>
                                        <a asp-controller="Gustos" asp-action="GustosPorSucursal" asp-route-idSucursal="@sucursal.Sucursal.IdSucursal">
                                            Gustos vendidos en @sucursal.Sucursal.CalleSucursal
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<a asp-controller="Localidades" asp-action="Index" class="btn btn-primary btn-icon-split btn-sm">
    <span class="text">Volver a Localidades</span>
    </a>