@model IEnumerable<dynamic>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Lista de Localidades</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Kilos Vendidos</th>
                                <th>Estado</th>
                                <th>Top 5 gustos más vendidos</th>
                                <th>Lista de Sucursales</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var localidade in Model)
                            {
                                <tr>
                                    <td>@localidade.IdLocalidad</td>
                                    <td>@localidade.NombreLocalidad</td>
                                    <td>@localidade.KilosVendidos</td>
                                    <td>@localidade.EstadoObjetivo</td>
                                    <td>
                                        @if (localidade.GustosMasVendidos.Any())
                                        {
                                            <ol>
                                                @foreach (var gusto in localidade.GustosMasVendidos)
                                                {
                                                    <li>@gusto</li>
                                                }
                                            </ol>
                                        }
                                        else
                                        {
                                            <span>No hay datos de ventas</span>
                                        }
                                    </td>
                                    <td>
                                        <a asp-controller="Sucursales" asp-action="SucursalesPorLocalidad" asp-route-idLocalidad="@localidade.IdLocalidad">
                                            Sucursales en @localidade.NombreLocalidad
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>